<h1 class="text-left dark-grey-text border-light-grey ml-5">My Comments</h1>

<div class="row margin-top-10px">
  <% @comments.each do |comment| %>
    <div class="col-12 col-sm-6">
      <blockquote>
        <h2 class="text-center golden"><%= link_to comment.place.name, place_path(comment.place) %></h2>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b>
        <% end %>
        <p><q><%= comment.message %></q></p>
        <footer><%= comment.user.email %></footer>
      </blockquote>
    </div>
  <% end %>

  <div class="pagy-box col-12 d-flex justify-content-center">
    <%== pagy_bootstrap_combo_nav_js(@pagy_comments) %>
  </div>
</div>