<div class="booyah-box mt-4">
  <div class="row">
    <div class="col-5 d-flex justify-content-end">
      <div class="white-bg">
        <%= image_tag 'user.png' %>
      </div>
    </div>

    <div class="col-7">
      <h1 class="golden"><%= @user.email %></h1>
      <h3 class="golden">Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="comments_list">
  <%= render partial: "comments" %>
</div>

<div id ="places_list">
  <%= render partial: "places" %>
</div>

